@CHARSET "UTF-8";


.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2,
	.col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
	.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5,
	.col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
	.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8,
	.col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
	.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11,
	.col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12
	{
	/* border: 1px solid red; */
	padding: 10px 0;
	margin:  auto 0;
}

.row {
	margin-bottom: 4px;
	margin-top: 4px;
	/* border: 1px solid green;  */
	text-align: center;
	
	
}
#content1{
	padding-left: 60px;
	
}

.row .col-md-1{
	height: 80px; 
	vertical-align: center;
}
#bg_pi{
	text-align: center;
}

.bottom {
	height: 100px;
	background-color: "yellow"
}

.carousel-inner  img {
	width: 1400px;
	text-align: center;	
}

.form-group{
	size: 300px;
	
}



#list img{
	margin: auto;
	height: 150px;
	width: 250px;
	
}



#navifont img{
	height: 30px;
}


#iframe { 
     position: absolute;
     top: 0px;
     left: 0px;
     min-width: 100%;
     min-height: 100%;
     width: auto;
     height: auto;
     z-index: -1;
     overflow: hidden;
}


#detail_p img{
	display: block; max-width: 100%; height: auto;
	margin: 0 auto;
}	

  #map {
        height: 100%;
      }
    
  #map html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      
  .carousel-inner .carousel-caption #mainp{
  	height: 350px;
  	font-size: 40px;
  }   
      
  .carousel-inner .carousel-caption #mains{
  	height: 350px;
  	font-size: 40px;
  	font-weight: bold;
  	color: "#ff5a60";
  }
  
       
